!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }

  %head
    %title&= title
    = stylesheet_link_tag 'application', 'farmfacts'
    = javascript_include_tag :defaults

    :javascript
      FarmFacts($);
      $(function() {
        FarmFacts.dialog('#new_user', 'Fortsetzen', {
          beforeclose: function() { $('form', this).submit(); },
          open: function() { $('#login_first_name').focus(); },
          width: 480
        });
      });

  %body
    #new_user{ :title => title }

      - unless visitor.errors.blank?
        .ui-state-error{ :style => 'margin-bottom: 1em; padding: .5em;' }
          Es sind Fehler beim Anlegen des Benutzers aufgetreten, bitte
          überprüfen Sie ihre Eingabe.

      - form_for :login, visitor, :url => { :action => :create_user } do |f|
        = f.hidden_field :become, :value => 'administrator'

        .p{ :style => 'padding-top: 3px' }
          = f.text_field :first_name, :class => 'right', :style => 'margin-top: -3px;'
          = f.label :first_name, 'Vorname'
        .p{ :style => 'padding-top: 3px' }
          = f.text_field :last_name, :class => 'right', :style => 'margin-top: -3px;'
          = f.label :last_name, 'Nachname'
        .p{ :style => 'padding-top: 3px' }
          = f.text_field :username, :class => 'right', :style => 'margin-top: -3px;'
          = f.label :username, 'Benutzer'
        .p{ :style => 'padding-top: 3px' }
          = f.text_field :email, :class => 'right', :style => 'margin-top: -3px;'
          = f.label :email, 'E-Mail'
        .p{ :style => 'padding-top: 3px' }
          = f.password_field :password, :class => 'right', :style => 'margin-top: -3px;'
          = f.label :password, 'Passwort'
        .p{ :style => 'padding-top: 3px' }
          = f.password_field :password_confirmation, :class => 'right', :style => 'margin-top: -3px;'
          = f.label :password_confirmation, 'Passwort Bestätigung'

        = submit_tag nil, :style => 'display: none;'
