%li
  - link_to '#current' do
    .bold.label= t 'titles.default'
%li#current.hidden
  %ul
    %li= link_to t('actions.logins.forget'), destroy_login_path
%li
  - link_to '#dashboard' do
    .label= title
%li#dashboard.hidden
  %ul
    %li= link_to t('titles.logins'), protected_logins_path
    %li= link_to t('titles.groups'), protected_groups_path
    %li= link_to t('actions.print'), 'javascript: window.print();'
