!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }

  %head
    %title&= title
    = stylesheet_link_tag 'application', 'farmfacts'
    = javascript_include_tag :defaults

    :javascript
      FarmFacts($);
      $(function() {
        FarmFacts.dialog('#login', 'Anmelden', {
          beforeclose: function() { $('form', this).submit(); },
          open: function() { $('#visitor_username').focus(); },
          width: 320
        });
      });

  %body
    #login{ :title => title }

      - unless visitor.errors.blank?
        .ui-state-error{ :style => 'margin-bottom: 1em; padding: .5em;' }
          Die Anmeldung ist fehlgeschlagen, bitte korrigieren Sie ihre Eingabe
          und versuchen Sie es erneut.

      - form_for :visitor, visitor, :url => login_path do |f|
        = hidden_field_tag :return_uri, return_uri

        .p{ :style => 'padding-top: 3px' }
          = f.text_field :username, :class => 'right', :style => 'margin-top: -3px;'
          = f.label :username, 'Benutzer'
        .p{ :style => 'padding-top: 3px' }
          = f.label :password, 'Passwort'
          = f.password_field :password, :class => 'right', :style => 'margin-top: -3px;'

        = submit_tag nil, :style => 'display: none;'
