.main
  .ui-widget
    .ui-widget-header.ui-corner-top{ :style => 'border: none; padding: 2px 1em; font-weight: normal;' }
      = t 'actions.protected.logins.index'
    .ui-widget-content{ :style => 'padding: 4px 1em;' }
      %pagination
        &nbsp;
        // Tabs loading content via AJAX?
      %table#logins.ui-helper-reset
        %thead
          %tr
            %th.name
              = "#{ t 'activerecord.attributes.login.last_name' },"
              = t 'activerecord.attributes.login.first_name'
            %th.username
              = t 'activerecord.attributes.login.username'
            %th.email
              = t 'activerecord.attributes.login.email'
            %th.groups
              = t 'actions.groups.index'
            %th.actions
        %tbody
          = render @logins
      %pagination
        &nbsp;
        // Tabs loading content via AJAX?

.notes
  - form_for [:protected, @searcher], :html => { :method => :get } do |f|
    = f.text_field :q, :style => 'width: 100%;'
    %p
      %a.submit{ :href => '' }= "#{ icon :search }#{ t 'actions.search' }"
