.left{ :style => 'min-width: 640px; width: 80%;' }
  - form_for [:protected, @login] do |f|
    .ui-widget
      .ui-widget-header.ui-corner-top{ :style => 'padding: 3px 1em; font-weight: normal;' }= t 'actions.protected.logins.new'
      .ui-widget-content{ :style => 'padding: 4px 1em;' }
        = render 'form', :f => f

    %p
      %a.button{ :href => return_uri }= "#{ icon :cancel }#{ t 'actions.cancel' }"
      %a.submit{ :href => '#' }= "#{ icon :disk }#{ t 'actions.protected.logins.create' }"

.right{ :style => 'padding-left: 2%; width: 18%;' }= @notes
