.left{ :style => 'min-width: 640px; width: 80%;' }
  .ui-widget
    .ui-widget-header.ui-corner-top{ :style => 'border: none; padding: 3px 1em; font-weight: normal;' }= @login.name
    .ui-widget-content{ :style => 'padding: 4px 1em;' }
      %div
        %div{ :style => 'float: left;' }= "#{ t 'activerecord.attributes.login.first_name' }:"
        %p{ :style => 'margin-left: 10em' }= @login.first_name
      %div
        %div{ :style => 'float: left;' }= "#{ t 'activerecord.attributes.login.last_name' }:"
        %p{ :style => 'margin-left: 10em' }= @login.last_name
      %div
        %div{ :style => 'float: left;' }= "#{ t 'activerecord.attributes.login.username' }:"
        %p{ :style => 'margin-left: 10em' }= @login.username
      %div
        %div{ :style => 'float: left;' }= "#{ t 'activerecord.attributes.login.email' }:"
        %p{ :style => 'margin-left: 10em' }= mail_to @login.email
      %div
        %div{ :style => 'float: left;' }= "#{ t 'actions.groups.index' }:"
        %p{ :style => 'margin-left: 10em' }= @login.memberships.map { |r| link_to content_tag(:span, r.group.name, r.leading?? {:class => 'bold'} : {}), protected_group_path(r.group) }.to_sentence

  %p
    %a.button{ :href => return_uri || protected_logins_path }= "#{ icon :cancel }#{ t 'actions.back' }"
    %a.button{ :href => edit_protected_login_path(@login, :return_uri => current_uri) }= "#{ icon :pencil }#{ t 'actions.edit' }"

.right{ :style => 'padding-left: 2%; width: 18%;' }= @notes
