!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml' }

  %head
    %title&= title
    = stylesheet_link_tag 'application', 'farmfacts'
    = javascript_include_tag :defaults

    :javascript
      FarmFacts($);

  %body
    #top

      %ul.left
        = render 'titlebar'

      %ul.right
        %li
          .label= "#{ visitor.username } (#{ visitor.name })"
        %li
          .label.clock &nbsp;

    .content
      - if error = flash[:error]
        .ui-state-error= error
      - if message = flash[:message]
        .ui-state-highlight= message

      = yield
